body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    background-color: #f0f0f07a;
    background-image: url(fondoA.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

header {
    font-family: 'Roboto';
    color: #fafafa; 
    padding: 1rem 0; 
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(42, 43, 2, 0.438); 
    font-size: 3rem; 
    font-weight: bold; 
}

.partidos{
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    color:#fafafa;
    background-color:#021825c0;
    
    border: 2px solid #fde4036c;
    border-radius: 5px;
    
}

th {
    background-color: #021825e5;
    color: white;
    padding: 10px;
    text-align: center;
    border: 2px solid #fde4036c;
    border-radius: 5px;
}

td {
	
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 2px;
    border: 2px solid #fde4036c;
}

nav {
    width: 100%;
    background-color: #021825e5;
    margin-bottom: 2rem;
    border: 2px solid #fde4036c;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: rgb(231, 231, 238);
    text-decoration: none;
    padding: 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #2f50bb;
    border-radius: 5px;
}   
button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #000007a9; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003aa7; 
}
