<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>GestionJugadores</display-name>
    <servlet-name>GestionJugadores</servlet-name>
    <servlet-class>controlador.GestionJugadores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionJugadores</servlet-name>
    <url-pattern>/GestionJugadores</url-pattern>
  </servlet-mapping>
  <display-name>europorra</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServUsario</display-name>
    <servlet-name>ServUsario</servlet-name>
    <servlet-class>controlador.ServUsario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServUsario</servlet-name>
    <url-pattern>/ServUsario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServGrupos</display-name>
    <servlet-name>ServGrupos</servlet-name>
    <servlet-class>controlador.ServGrupos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServGrupos</servlet-name>
    <url-pattern>/ServGrupos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServPartido</display-name>
    <servlet-name>ServPartido</servlet-name>
    <servlet-class>controlador.ServPartido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServPartido</servlet-name>
    <url-pattern>/ServPartido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAdminPartido</display-name>
    <servlet-name>ServAdminPartido</servlet-name>
    <servlet-class>controlador.ServAdminPartido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAdminPartido</servlet-name>
    <url-pattern>/ServAdminPartido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServSesion</display-name>
    <servlet-name>ServSesion</servlet-name>
    <servlet-class>controlador.ServSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServSesion</servlet-name>
    <url-pattern>/ServSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServLogin</display-name>
    <servlet-name>ServLogin</servlet-name>
    <servlet-class>controlador.ServLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServLogin</servlet-name>
    <url-pattern>/ServLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServEditarUsuario</display-name>
    <servlet-name>ServEditarUsuario</servlet-name>
    <servlet-class>controlador.ServEditarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServEditarUsuario</servlet-name>
    <url-pattern>/ServEditarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServClasifUsuarios</display-name>
    <servlet-name>ServClasifUsuarios</servlet-name>
    <servlet-class>controlador.ServClasifUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServClasifUsuarios</servlet-name>
    <url-pattern>/ServClasifUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServJugador</display-name>
    <servlet-name>ServJugador</servlet-name>
    <servlet-class>controlador.ServJugador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServJugador</servlet-name>
    <url-pattern>/ServJugador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServJugadores</display-name>
    <servlet-name>ServJugadores</servlet-name>
    <servlet-class>controlador.ServJugadores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServJugadores</servlet-name>
    <url-pattern>/ServJugadores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServPronostico</display-name>
    <servlet-name>ServPronostico</servlet-name>
    <servlet-class>controlador.ServPronostico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServPronostico</servlet-name>
    <url-pattern>/ServPronostico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServPronos</display-name>
    <servlet-name>ServPronos</servlet-name>
    <servlet-class>controlador.ServPronos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServPronos</servlet-name>
    <url-pattern>/ServPronos</url-pattern>
  </servlet-mapping>
</web-app>